// @import '~bootstrap/scss/bootstrap.scss';
@import './cerulean.css';
// @import './sketchy.css';
// @import './yeti.css';
// @import './cosmo.css';
// @import './superhero.css';
// @import './solar.css';
// @import './united.css';
// @import './slate.css';
// @import './journal.css';
// @import './flaty.css';
// @import './spacelab.css';
// @import './sandstone.css';
// @import './minty.css';
// @import './lumen.css';
// @import './darkly.css';
// @import './lux.css';
// @import './cyborg.css';

button.btn.btn-link {
    width: 62px;
    height: 62px;
    text-decoration: none;
}

.plans-style {
    width: 80%;
    height: 300px;
    border-radius: 21px 21px 0 0;
}

.navbar-spacer {
    margin-top: 78px;
}

.btn-checkout {
    margin-top: 7px;
    text-decoration: none;
}

.carousel {
    margin-bottom: 4rem;
}

.carousel-image {
    width: 100%;
    height: 50%;
}

.featurette {
    margin-bottom: 4rem;
}

.featurette-image {
    width: 500px;
    // height: 500px;
}

.card-header {
    color: #fff !important;
    line-height: 30px;
}

.card-title {
    margin: 0px;
}

.login {
    font-size: 12px;
}

a.btn.btn-dark.active {
    height: 62px;
    background-color: #343a40 !important;
    border: #343a40 !important;
}

a.nav-item.nav-link.text-white {
    margin: 10px 10px 10px 10px;
}

#logoInverted {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}